@page
@model LigaFutbolSoftInn.App.Frontend.Pages.IndexDirTecnicosModel
@{
}
<form method="get">
    <div class="form-group">
        <label for="b">Buscar</label>
        <input name="b" id="b" class="form-control" asp-for="@Model.bActual">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<h1>Listado Directores Tecnicos</h1>
<a class="btn btn-success" asp-page="./CreateDirTecnicos">Nuevo Director Técnico</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre </th>
            <th scope="col">Documento </th>
            <th scope="col">Telefono </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dirTecnico in Model.dirTecnico)
        {
            <tr>
                <td>@dirTecnico.NombreDirTecnico</td>
                <td>@dirTecnico.DocumentoDirTecnico</td>
                <td>@dirTecnico.TelefonoDirTecnico</td>
                <td>
                    <a class="btn btn-info" asp-page="./DetailsDirTecnicos" asp-route-id="@dirTecnico.IdDirTecnico">
                        Detalle
                    </a>
                    <a class="btn btn-dark" asp-page="./EditDirTecnicos" asp-route-id="@dirTecnico.IdDirTecnico">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>