@page
@model LigaFutbolSoftInn.App.Frontend.Pages.IndexEstadioModel
@{
}


<h1>Listado estadios</h1>

<a class="btn btn-success" asp-page="./CreateEstadio">Nuevo estadio</a>

<form method="get">
    <div class="form-group">
        <label for="b">Buscar</label>
        <input name="b" id="b" class="form-control" asp-for="@Model.bActual">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id Estadio</th>
            <th scope="col">Nombre Estadio</th>
            <th scope="col">Direccion Estadio</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var estadio in Model.estadios)
        {
            <tr>
                <td>@estadio.IdEstadio</td>
                <td>@estadio.NombreEstadio</td>
                <td>@estadio.DireccionEstadio</td>

            
            </tr>
             <td>
                    <a class="btn btn-info" asp-page="./DetailsEstadio" asp-route-id="@estadio.IdEstadio">Detalle</a>
                    <a class="btn btn-dark" asp-page="./EditEstadio" asp-route-id="@estadio.IdEstadio">Editar</a>

                </td>
        }
    </tbody>
</table>

