@page
@model LigaFutbolSoftInn.App.Frontend.Pages.IndexEquipoModel
@{
}
<a class="btn btn-primary" asp-page="./CreateEquipo">Nuevo Equipo</a>
<h1>Listado Equipos</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id Equipo</th>
            <th scope="col">Nombre Equipo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equipo in Model.equipos)
        {
            <tr>
                <td>@equipo.IdEquipo</td>
                <td>@equipo.NombreEquipo</td>
<<<<<<< HEAD
               
                <td>
                    <a class="btn btn-primary" asp-page="./DetailsEquipo" asp-route-id="@equipo.IdEquipo"> Detalle</a>  
                    <a class="btn btn-secondary" asp-page="./EditEquipo" asp-route-id="@equipo.IdEquipo">Editar</a> 
=======
                @*<td>@equipo.Municipio</td>*@
                <td>
                    <a class="btn btn-primary" asp-page="./DetailsEquipo" asp-route-id="@equipo.IdEquipo">
                        Detalle
                    </a>   
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 9d5046e88f27a3e023fec3a467a1a2fcc36cbdf7
=======
>>>>>>> 9d5046e88f27a3e023fec3a467a1a2fcc36cbdf7
=======
>>>>>>> 9d5046e88f27a3e023fec3a467a1a2fcc36cbdf7
                </td>
            </tr>
                    
        }
    </tbody>
</table>