@page
@model LigaFutbolSoftInn.App.Frontend.Pages.IndexArbitroModel
@{
}
<form method="get">
    <div class="form-group">
        <label for="b">Buscar</label>
        <input name="b" id="b" class="form-control" asp-for="@Model.bActual">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<h1>Listado Árbitros</h1>
<a class="btn btn-success" asp-page="./Create">Nuevo Árbitro</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Documento</th>
            <th scope="col">Telefono</th>
            <th scope="col">Colegio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var arbitro in Model.arbitros)
        {
            <tr>
                <td>@arbitro.NombreArbitro</td>
                <td>@arbitro.DocumentoArbitro</td>
                <td>@arbitro.TelefonoArbitro</td>
                <td>@arbitro.ColegioArbitro</td>
                <td>
                    <a class="btn btn-info" asp-page="./DetailsArbitros" asp-route-id="@arbitro.IdArbitro">Detalle</a>
                    <a class="btn btn-dark" asp-page="./Edit" asp-route-id="@arbitro.IdArbitro">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>