@page
@model LigaFutbolSoftInn.App.Frontend.Pages.IndexArbitroModel
@{
}
<h1>Listado Árbitros</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Documento</th>
            <th scope="col">Telefono</th>
            <th scope="col">Colegio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var arbitro in Model.arbitros)
        {
            <tr>
                <td>@arbitro.NombreArbitro</td>
                <td>@arbitro.DocumentoArbitro</td>
                <td>@arbitro.TelefonoArbitro</td>
                <td>@arbitro.ColegioArbitro</td>
                <td>
                    <a class="btn btn-primary" asp-page="./DetailsArbitros" asp-route-id="@arbitro.IdArbitro">
                        Detalle
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>