@page
@model LigaFutbolSoftInn.App.Frontend.Pages.IndexNovedadModel
@{
}
<h1>Listado de Novedades</h1>
<a class="btn btn-success" asp-page="./CreateNovedad">Nueva Novedad</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Novedades</th>
            <th scope="col">Tipo</th>
            <th scope="col">Minuto</th>
            <th scope="col">Jugador</th>
            <th scope="col">Partido</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var novedad in Model.novedades)
        {
            <tr>
                <td>@novedad.IdNovedad</td>
                <td>@novedad.TipoNovedad</td>
                <td>@novedad.MinutoPartidoNovedad</td>
                <td>@novedad.Jugador</td>
                <td>@novedad.Partido</td>
                <td>
                    <a class="btn btn-info" asp-page="./Details" asp-route-id="@novedad.IdNovedad">Detalle</a>
                    <a class="btn btn-dark" asp-page="./EditNovedad" asp-route-id="@novedad.IdNovedad">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>